# Ignore everything
*

# But not these files...
!.gitignore
!LICENSE
!*.md
!*.js
!*.html
!CMakeLists.txt

# files to be tracked are in subdirectories
!src/
!src/*
!.vscode/*
!include/
!include/*
!.vscode/
!.vscode/*
